.pagealbum{
    display: flex;
    justify-content: center;
    height: 597px;
}

.lesalbums{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 100%;
}