.contain{
    display: flex;
    justify-content: center;
    height: 100%;
}
.formulaire{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    
}
.form1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:25%;
    
    text-align: center;
    
    

}

.seconnecter{
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10%;
} 
.bouton1{
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
  
  
    .form2{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:25%;
            
    }
 
    
    .inscription{
        
        align-items: center;
        text-align: center;
        width: 100%;
        height: 10%;
    }
    
 .bouton2{
    padding: 0.5rem 1rem;
    font-size: 1rem;
 }