
.pagepartition{
    display: flex;
    justify-content: center;
    height: 597px;
}
.lespartitions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 100%;
}

.compart{
    display: flex;
    flex-direction: row;
    align-items: center;
}