.pagereservations{
    display: flex;
    justify-content: center;
    height: 597px;
    
}





.lesreservations{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 100%;
}
.comreserv{
    display: flex;
    flex-direction: row;
    align-items: center;
}