.login{
    width: 30%;
    margin-left: 220px;
    background-color: rgb(201, 5, 5);
    padding-bottom: 30px;
    margin-top: 120px;

}
label{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    display: block;
    margin-left: 20px;
}
input{
    width: 40%;
    border-radius: 13px;
    margin-left: 20px;
    
    
}
.Envoyer{
    width: 20%;
}

 .Ajouter{
    background-color: rgb(255, 255, 235);
    width: 60px;
}
 .Supprimer{
     margin-left: 10%;
    background-color: rgb(194, 8, 8);
}
 .Modifier{
     margin-left: 9%;
     width: 35%;
    background-color: rgb(252, 247, 247);  
}
/*--------------------------------------------tableau-------------------------------------------*/
table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: rgb(240, 3, 3); 
	}

th { 
	background: #f32703; 
	color: rgb(253, 247, 247); 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid rgb(86, 6, 161); 
	text-align: left; 
	font-size: 18px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}